@charset "utf-8";
/* CSS Document */
a{	
	text-decoration-color: #707070;
	text-decoration: none;
}
#screen{
	width: 428px;
	height: 926px;
	position: relative;
	background-color:#D1D1FF;
}
#search{
	width:400px;
	height:50px;
	top: 10px;
	left: 14px;
	position: absolute;
	background-color:#FFFFFF;
}
#searchbar{
	width:300px;
	height:60px;
	top: 70px;
	left: 64px;
	position: absolute;
	background-color:#FFFFFF;
}
#searchbar2{
	width:400px;
	height:170px;
	top: 70px;
	left: 14px;
	position: relative;
	background-color:#FFFFFF;
	margin-bottom: 10px;
}
#searchbar3{
	width:400px;
	height:300px;
	top: 70px;
	left: 14px;
	position: relative;
	background-color:#FFFFFF;
	margin-bottom: 10px;
}
#keyboard{
	width: 418px;
	height: 300px;
	position: absolute;
	background-color:#FFFFFF;
	bottom:0px;
	margin: 5px;
}
#searchtext{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 30px;
	text-align:center;
	margin: 7px;
	color: #707070;
		
}

#searchtext2{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 20px;
	text-align:left;
	margin: 15px;
	color: #707070;

		
}
#searchtext3{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 20px;
	text-align:left;
	margin-left: -10px;
	color: #707070;
}
#searchtext4{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 25px;
	padding-left: 20px;
	padding-top:10px;
	color: #707070;
		
}
#searchtext5{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 25px;
	padding-left: 20px;
	padding-top:0px;
	color: #707070;
}
#searchtext6{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 25px;
	padding-left: 20px;
	padding-top:2px;
	color: #707070;
	text-align: left;

}
#searchtext7{
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 25px;
	padding-left: 20px;
	padding-top:2px;
	color: #707070;
	text-align: center;
}
#magnifyingglass{
	position: relative;
	top:-50px;
	left:240px;
}#magnifyingglass2{
	position: absolute;
	top:0px;
	left:350px;
}
#results{
	width:200px;
	height:175px;
	position: absolute;
	background-color: #FFFFFF;
	left:114px;
	top:135px;
}
#arrow1{
	position: relative;
	top:-155px;
	left:140px;
}#arrow2{
	position: absolute;
	top:55px;
	left:140px;
}#arrow3{
	position: absolute;
	top: 105px;
	left:140px;
}
#keyboardd{
padding:10px;
padding-top: 40px;}

#nut{
	position: relative;
	left: 100px;
	padding: 5px;
}
#bolt{
	position: relative;
	left: 50px;
	padding: 5px;
}
#x{
	padding-top:10px;
	left:-10px;
}